

.App {
  /* text-align: center; */
  padding: 1rem;
  background-image: url('https://images.pexels.com/photos/354939/pexels-photo-354939.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bg-layer{
  background-color: rgba(0, 0, 0, 0.525);
  color: white;
}






